*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/* css code in order to make navbar function properly */
.navbar {
    background-color: maroon;
    overflow: hidden;
    display: flex;
}
  
.navbar a {
    font-family: Cambria, serif;
    float: left ;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* highlights where the cursor currently points*/
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* upd logo */
.logo {
    width: 25px;
    height: 25px;
    display: flex;
}

/* basic text settings */
.text{
    font-family: Cambria, serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
    /* background-color: aqua; */
}

/* settings for the featured photo */
.picture {
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    outline-style: solid;
    outline-color: black;
    outline-width: 3px;
    border-radius: 10px;
}

.first_part{
    display: flex;
    /* background-color: lightgrey; */
    padding: 10px;
    margin-bottom: 35px;
}

.second_part{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container{
    display: flex;
    /* background-color: lightgrey; */
    padding: 10px;
    margin-bottom: 35px;
}

/* settings for the previous projects */
.container2 {
    display: flex;
    margin-bottom: 25px;
    /* background-color: lightgrey; */
    padding: 10px;
}

/* settings for the skills and autobiography */
.container3 {
    display: flex;
    /* background-color: lightgrey; */
    padding: 10px;
    flex: 1;
    flex-wrap: wrap;
    margin: 10px;
}

.skills {
    max-width: 600px;
    margin: 25px auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.autobiography {
    max-width: 600px;
    margin: 25px auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}

li, p{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: lighter;
}

strong {
    font-weight: bold;
}



.skills, .autobiography{
    font-family:Cambria ,serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    
}


/* settings for the Footer Section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.footer-content {
    flex-grow: 1;
    margin-left: 60px;
    text-align: left;
    font-size: 15px;
    font-family: Cambria;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px;
}

.footer-content a {
    color: white;
}

.logo img {
    height: 75px;
    margin-top: -25px;
}


/* code from samples codes given by Mr.Capuchino for exer02 */
.box {
    min-width: 50px;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: center;
}

.box1 { background-color: red; flex: 1; }
.box2 { background-color: green; flex:1; }
.box3 { background-color: blue; flex: 1; }
.box4 { background-color: orange; flex: 1; }
.box5 { background-color: purple; flex: 1; }
.box6 { background-color: cyan; flex: 1; }
.text1 { flex: 1; }
.text2 { flex: 1; }



